name: Build Android APK with BeeWare

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip python3-setuptools python3-virtualenv
        sudo apt-get install -y openjdk-11-jdk
        sudo apt-get install -y wget unzip

    - name: Install BeeWare
      run: |
        pip install --upgrade pip
        pip install beeware

    - name: Build APK with Briefcase
      run: |
        briefcase build android
        ls -R  # اطبع محتويات المجلد بشكل متكرر

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: android-apk
        path: **/*.apk  # ابحث عن ملف APK في أي مكان داخل المشروع
        if-no-files-found: error